main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: fit-content;
        .lang{
            display: flex; 
            flex-direction: row !important;
            input{
                margin-left: -1px;
                // border-radius: 0;
            }
        }
        h1{
            font-size: 56px;   
            margin-bottom: 15px;
        }
        div{
            text-align: left;
            display: flex;
            align-items: start;
            flex-direction: column;
            label{
                font-size: 20px;
                font-weight: 500;
            }
        }
        input{
            padding: 10px;
            font-size: 20px;
            border: 1px solid red;
            font-weight: 500;
            outline: none;
            width: 100%;
            &:hover{
                cursor: pointer;
            }
        }
        input[type="checkbox"]{
            height: 30px;
            width: 30px;
            margin-top: 10px;
        }
        input[type="file"]{
            border: none;
            font-size: 16px;
            margin-left: 0;
            padding: 10px 0;
        }
        button{
            padding: 15px;
            border: none;
            font-size: 20px;
            font-weight: 500;
            background-color: red;
            color: white;
            &:hover{
                cursor: pointer;
            }
        }
    }
}